version: "3.8"

services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres123
      POSTGRES_DB: smartlink
    ports:
      - "5432:5432"

  smartlink:
    build: .
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
